* {
  box-sizing: border-box;
  border: 1px solid red;
}

body {
  background-image: url(./images/grey_stripes_1.png);
  text-align: center;

}

body {
  max-width: 1200px;
  font-family: Arial, Helvetica, sans-serif;

}

.random-button {
  background-color: white;
  width: 300px;
  height: 100px;
  border: 0rem;

}

h1 {
  text-align: left;
}

h2 {
  text-transform: uppercase;
}

.feature-image {
  text-align: center;
}

.heading {
  background-color: white 0.5;
}