/* * {
  box-sizing: border-box;
  border: 1px solid red;
} */

body {
  background-image: url(./images/grey_stripes_1.png);
  margin: 0, auto;
}

main {
  /* background-color: white; */
  padding: 0.5rem;
  max-width: none;
  text-align: left;
}

.logo-rollover {
  width: 300px;
  max-width: 100%;
  position: relative;
}

.logo-rollover img.headerimage {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: contain;
  width: 300px;
  max-width: 100%;
}

.logo-rollover img.header-hover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: contain;
  opacity: 0;
  transition: opacity .2s;
}

.logo-rollover:hover img.header-hover {
  opacity: 1;
}




header {
  background-color: white;
  text-align: left;
  display: flex;
  padding: 1rem;
  padding-bottom: 0.5rem;

}

body {
  font-family: 'Roboto Condensed', sans-serif;

}

.random-icon {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  background-color: white;
  align-items: center;

}

.random-icon:hover .random-button {
  color: rgb(249, 187, 54);
}

.random-button {
  background-color: white;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  width: 200px;
  height: 50px;
  font-size: large;
  font-weight: 400;
  border: 0px;
}

.break {
  height: 1rem;
  background-color: aliceblue;
  opacity: 0;
}




h1 {
  text-align: left;
}

h2 {
  text-transform: uppercase;
}

.feature-recipe {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  max-height: fit-content;
  padding-bottom: 3rem;
  padding-top: 1rem;
  background-color: white;
}

.feature-recipe img {
  width: 800px;
  height: 400px;
  object-fit: cover;
  padding: 0.5rem;
}

.heading {
  text-align: center;
  display: flex;
  background-color: white;
  margin-top: -7rem;
  opacity: 0.8;
  max-width: fit-content;
  padding-left: 1rem;
  padding-right: 1rem;

}

.heading:hover {
  background-color: white;
  opacity: 1;
  color: rgb(249, 187, 54);

}