.display-image {
  display: flex;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
  background-color: white;
  min-height: 400px;
  padding: 2rem;
  width: 1000px;



}

.search-image img {
  width: 1000px;
  object-fit: cover;
  background-color: white;
}

.div-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.5rem;
  align-content: center;

}



.div-form input {
  padding: 1rem;
  width: 600px;
  text-align: left;
}

.div-form button {
  /* height: 15px; */
  width: 150px;
  background-color: black;
  opacity: 1;
  padding: 0.5rem;
  text-align: center;
  margin-left: 240px;
  margin-top: 10px;
  border: 0px;
  color: white;
}

.div-form button:hover {
  background-color: rgb(249, 187, 54);
}


.div-form {
  text-align: center;
  display: flex;
  background-color: white;
  flex-direction: column;
  margin-top: -20rem;
  opacity: 0.8;
  align-content: center;
  max-width: fit-content;
  padding: 1.5rem;
  justify-content: center;
}